.quiz-card {
    background-color: gray;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
}

.quiz-card-text {
    text-align: center;
}

/* .quiz-card[wobble='1'] {
    animation: wobble 1s 1;
  }
  
  @keyframes wobble {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } */